.saves {

	box-sizing: border-box;

	&__item {
		list-style: none;
		border-radius: 3px;
		padding: 10px 51px 10px 5px;
		background-color: #fff;
		transition: 0.6s background ease;
		box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
		position: relative;

		&:hover {
			background-color: #efefef;
		}

		&:after {
			content: '';
    		display: block;
    		cursor: pointer;
    		width: 46px;
    		height: 43px;
    		position: absolute;
    		right: 5px;
    		top: 50%;
    		transform: translate(0, -50%);
    		background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M44 40.5L2 2%27 stroke=%27%23FF0000%27 stroke-width=%274%27/%3E%3Cpath d=%27M2 40.5L44 2%27 stroke=%27%23FF0000%27 stroke-width=%274%27/%3E%3C/svg%3E%0A");
		}
	}
}

