html {
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
}
body, menu, li, ul, header, footer, aside, main {
	padding: 0;
	margin: 0;
}
html, body {
	min-width: 320px;
	color: #000000;
}
a {
	color: unset;
}